
// Getting rid of default styling

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

svg {
    display: block;
}

// Variables

$card-height: 600px;
$link-color: #0d8eff;

// Nav styling

nav {

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    backdrop-filter: blur(800px);
    opacity: 0.85;
    padding-left: 20px;
    padding-right: 20px;


    .nav-container {
        display: flex;
        max-width: 1000px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto; 
        
        
        .nav-item {
            color: white;
            opacity: 0.8;
            font-weight: 300;
            font-size: 14px;
            transition-duration: 0.5s;
            padding: 15px;
            height: 100%;

            &:hover {
                opacity: 1;
            }
        }

        .icon {
            font-size: 16px;
            padding: 15px 0;
        }

    }
}

// Alert banner styling
.alert-banner {
  
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin: 45px auto 0 auto;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    a {
        color: $link-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Cards styling
main {

    .card {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        text-align: center;
    }

    .full {
        position: relative;
        
        img {
            width: 100%;
            height: $card-height;
            object-fit: cover;
          
        }

        .card-container {
            position: absolute;
            top: 40px;
            
               .headline {
                   color: white;
                   font-size: 52px;
                   margin-bottom: 10px;
               }
   
               .subline {
                   color: white;
                   font-size: 26px;
                   font-weight: 300;
                   margin-bottom: 20px;
               }
   
               .pricing {
                   color: #c2c2c2;
                   font-weight: 300;
                   margin-bottom: 20px;
               }
   
               .cta-container {
                   display: flex;
                   justify-content: space-between;
                   width: 190px;
                   margin: 0 auto;
                   align-items: center;
   
                   .cta {
                       color: $link-color;
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
   
                       .text {
                           margin-right: 3px;
                           font-size: 18px;
                           &:hover {
                               text-decoration: underline;
                           }
                       }

                       .chevron-right {
                           font-size: 0.8em;
                       }
                   }
               }
               
       }

    }

    
}