/* 
- Javascript: Add collapsible function to footer (dropdown on click)
- Javascript: Flyout menu on click, not hover
- Change flexboxes to grid
- Search bar functionality
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

svg {
  display: block;
}

sup {
  font-size: 0.6em;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes appear-translate {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear-translate {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.full .card-container .cta-container, .half .card-container .cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 190px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full .card-container .cta-container .cta, .half .card-container .cta {
  color: #0d8eff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full .card-container .cta-container .link-white.cta, .half .card-container .link-white.cta {
  color: white;
}

.full .card-container .cta-container .cta .text, .half .card-container .cta .text {
  margin-right: 3px;
}

.full .card-container .cta-container .cta .text:hover, .half .card-container .cta .text:hover {
  text-decoration: underline;
}

.full .card-container .cta-container .cta .text sup, .half .card-container .cta .text sup {
  text-decoration: none;
}

.nav-wide, .nav-narrow {
  max-width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.site-map-wide, .site-map-narrow {
  padding: 20px 0;
  color: #424242;
  border-top: solid 0.5px rgba(180, 180, 180, 0.5);
}

.site-map-wide .label, .site-map-narrow .label {
  font-weight: bold;
}

.dropdown:hover .dropdown-inner {
  -webkit-animation: appear ease 0.5s forwards;
          animation: appear ease 0.5s forwards;
}

.site-map-narrow .section:hover .footer-dropdown-text {
  -webkit-animation: appear-translate ease 0.2s forwards;
          animation: appear-translate ease 0.2s forwards;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: black;
  /*backdrop-filter: blur(10000px);
    opacity: 0.85;*/
  padding-left: 20px;
  padding-right: 20px;
}

.nav-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-narrow {
  display: none;
}

.dropdown .dropdown-background {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  background-color: black;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.dropdown:hover .dropdown-background {
  height: 100vh;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-inner {
  position: absolute;
  width: 100%;
  padding: 40px;
  z-index: 3;
  color: white;
}

.dropdown .dropdown-inner .item {
  font-weight: 300;
  width: 100%;
  padding: 15px 0;
  opacity: 0.7;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.dropdown .dropdown-inner .item:hover {
  opacity: 1;
}

.nav-item {
  color: white;
  opacity: 0.8;
  font-weight: 300;
  font-size: 14px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 15px;
  height: 100%;
}

.nav-item:hover {
  opacity: 1;
}

.icon {
  font-size: 16px;
  padding: 15px 0;
}

.alert-banner {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin: 45px auto 0 auto;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.alert-banner a {
  color: #0d8eff;
}

.alert-banner a:hover {
  text-decoration: underline;
}

.card {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.card.reverse {
  color: black;
}

.full {
  position: relative;
}

.full img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.full .card-container {
  position: absolute;
  max-width: 600px;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.full .card-container .headline {
  font-size: 52px;
  margin-bottom: 10px;
}

.full .card-container .subline {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 20px;
}

.full .card-container .pricing {
  color: #aaaaaa;
  font-weight: 300;
  margin-bottom: 20px;
}

.full .card-container .cta-container .cta .text {
  font-size: 18px;
}

.full .card-container .cta-container .cta .chevron-right {
  font-size: 0.8em;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.half {
  max-width: calc(calc(100% - 12px) / 2);
  position: relative;
}

.half img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.half .card-container {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  margin: 0 auto;
}

.half .card-container.reverse {
  color: black;
}

.half .card-container .headline {
  font-size: 36px;
  margin-bottom: 10px;
}

.half .card-container .subline {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.3;
}

.half .card-container .cta .chevron-right {
  font-size: 10px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.half .card-container .watch-now {
  margin-top: 400px;
}

.lockup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.lockup .watch {
  font-weight: 600;
  font-size: 28px;
}

.lockup svg {
  font-size: 30px;
}

.series {
  margin-bottom: 10px;
  font-size: 14px;
  color: #c91f08;
  font-weight: 600;
  letter-spacing: 0.1em;
}

/* Footer styling */
.footer-wrapper {
  width: 100%;
  padding: 0 20px;
  background-color: #f7f7f7;
}

.footer-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.fine-print p, .sub-label, .label, .bottom-print {
  font-size: 11.5px;
  margin-bottom: 10px;
}

.fine-print p, .bottom-print {
  color: #b4b4b4;
  margin-bottom: 10px;
  line-height: 1.4;
}

.fine-print {
  padding-bottom: 10px;
}

.site-map-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-map-wide .section {
  margin-bottom: 30px;
}

.site-map-narrow {
  display: none;
}

.site-map-narrow .footer-dropdown-content {
  position: relative;
  display: none;
  padding-left: 10px;
  margin-bottom: 20px;
}

.site-map-narrow .footer-dropdown-text {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.site-map-narrow .section {
  position: relative;
  border-bottom: solid 0.5px rgba(180, 180, 180, 0.5);
}

.site-map-narrow .section:hover .footer-dropdown-content {
  display: block;
}

.site-map-narrow .dropdown-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.site-map-narrow .plus {
  font-size: 0.8em;
}

.contact {
  padding-bottom: 10px;
  border-bottom: solid 0.5px rgba(180, 180, 180, 0.5);
}

.contact a {
  color: #0d8eff;
}

.contact a:hover {
  text-decoration: underline;
}

.copyright-container, .copyright-flex, .us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-container {
  margin-top: 10px;
  padding-bottom: 40px;
}

.copyright-container-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}

.copyright-container-mini .item {
  padding: 0 10px;
  border-right: solid 0.5px rgba(180, 180, 180, 0.5);
}

.copyright-container-mini .item.last {
  border-right: none;
}

.us p {
  margin-left: 5px;
}

@media screen and (max-width: 900px) {
  .full .card-container .headline {
    font-size: 44px;
  }
  .full .card-container .subline {
    font-size: 20px;
  }
  .full .card-container .pricing {
    font-size: 14px;
  }
  .half .card-container {
    max-width: 300px;
  }
  .half .card-container .headline {
    font-size: 28px;
  }
  .half .card-container .subline {
    font-size: 16px;
  }
  .copyright-container-mini {
    display: block;
  }
  .copyright-container-mini .first {
    padding-left: 0;
  }
  .copyright-container-mini .copyright-flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (max-width: 700px) {
  .nav-wide {
    display: none;
  }
  .nav-narrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .half {
    min-width: 100%;
  }
  .copyright-container {
    display: block;
  }
  .copyright-container .us {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .site-map-wide {
    display: none;
  }
  .site-map-narrow {
    display: block;
  }
}
/*# sourceMappingURL=apple-clone.css.map */