// Resetting defaults

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

svg {
    display: block;
}

// Variables

$card-height: 600px;
$link-color: #0d8eff;

// Extends

%cta-container {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin: 0 auto;
    align-items: center;
}  

%cta {
    color: $link-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        margin-right: 3px;
        &:hover {
            text-decoration: underline;
        }
    }

}

// Nav styling

nav {

    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #000000;
    backdrop-filter: blur(10000px);
    opacity: 0.85;
    padding-left: 20px;
    padding-right: 20px;


    .nav-container {
        display: flex;
        max-width: 1000px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto; 
        
        
        .nav-item {
            color: white;
            opacity: 0.8;
            font-weight: 300;
            font-size: 14px;
            transition-duration: 0.5s;
            padding: 15px;
            height: 100%;

            &:hover {
                opacity: 1;
            }
        }

        .icon {
            font-size: 16px;
            padding: 15px 0;
        }

    }
}

// Alert banner styling
.alert-banner {
  
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin: 45px auto 0 auto;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    a {
        color: $link-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Cards styling


.card {
    
    margin-bottom: 10px;
    text-align: center;
    color: white;

    

    &.reverse {
        color: black;
    }
}


.full {

    position: relative;
    
    img {
        width: 100%;
        height: $card-height;
        object-fit: cover;
        
    }

    .card-container {
        position: absolute;
        width: 600px;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;

        
        .headline {
            font-size: 52px;
            margin-bottom: 10px;
        }

        .subline {
            font-size: 26px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        .pricing {
            color: #aaaaaa;
            font-weight: 300;
            margin-bottom: 20px;

            sup {
                font-size: 0.7em;
            }

        }

            
        .cta-container {
            @extend %cta-container;

            
            .cta {
                @extend %cta;
                .text {
                    font-size: 18px;
                }
                .chevron-right {
                    font-size: 0.8em;
                    transform: translateY(2px);
                }
            }
        }
            
    }

}

.card-flex {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;

}

.half {
    width: calc(calc(100% - 12px) / 2);
    position: relative;

    img {
        width: 100%;
        height: $card-height;
        object-fit: cover;
    }

    .card-container {
        position: absolute;
        top: 10%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 400px;
        margin: 0 auto;

        &.reverse {
            color: black;
        }

        .headline {
            font-size: 36px;
            margin-bottom: 10px;
        }

        .subline {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 10px;
            line-height: 1.3;
        }

        .cta-container {
            @extend %cta-container;
        }

        .cta {
            @extend %cta;
            .chevron-right {
                font-size: 10px;
                transform: translateY(1px);
            }
        }
    }
}

.lightning-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .watch {
        font-weight: 600;
        font-size: 28px;
    }

    svg {
        font-size: 30px;
    }
}

.series {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(201, 31, 8);
    font-weight: 600;
    letter-spacing: 0.1em;

}


    
