* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* Nav styling */
nav {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

nav .nav-item {
  margin-right: 5px;
}

nav:last-child {
  margin-right: 0;
}

nav .icon, nav .chevron-icon {
  border-radius: 100%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

nav .icon:hover, nav .chevron-icon:hover {
  background-color: #ededed;
}

nav .icon {
  padding: 13px;
}

nav .chevron-icon {
  padding: 5px;
}

nav svg {
  display: block;
  font-size: 20px;
  margin: 0 auto;
}

nav .chevron-down {
  font-size: 14px;
}

nav img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0 auto;
}

.notifications {
  position: relative;
}

.notifications .notif-number {
  font-size: 12px;
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  color: white;
  background-color: #a305ff;
  padding: 3px;
  border-radius: 50%;
}

input.nav-item {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-width: 400px;
  font-weight: normal;
  border: none;
  background-color: #ededed;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

input.nav-item:focus {
  color: inherit;
  outline: none;
}

input.nav-item:hover, input.nav-item:focus {
  background-color: #d9d9d9;
}

.nav-text, input.nav-item {
  font-size: 16px;
  border-radius: 30px;
  padding: 15px 20px;
}

.nav-text {
  color: #1c1c1c;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  /* Applies when you hover on classes that are not the current page */
}

.nav-text.current {
  color: white;
  background-color: #1c1c1c;
}

.nav-text:not(.current):hover {
  background-color: #ededed;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

/* Main styling */
.fixed-icons {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 8px;
}

.fixed-icons .icon {
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 2px #ededed;
          box-shadow: 0 1px 3px 2px #ededed;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.fixed-icons .icon:hover {
  background-color: #ededed;
}

.fixed-icons .icon svg {
  display: block;
  font-size: 24px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 90px 70px 20px 70px;
}

.gallery .column {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  padding: 0 10px;
}

.gallery .column .gallery-item {
  margin-bottom: 40px;
}

.gallery .column img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}

.gallery .column .description {
  font-weight: bold;
  font-size: 14px;
}
/*# sourceMappingURL=pinterest.css.map */