/*
- Refactor - done
- Better naming - done
- Check cursors – done (check how anchors are wrapping in html)
- Check z-index – done
- Fix notifications - done

Notes:
- Z-index is relative to the parent!
- Change svg width and height to 1em in html, then change font size in css
- Don't use repeat(1fr, 4) for grids b/c Live Sass Compiler isn't updated (errors in css)
- In scss, use 1fr 1fr 1fr 1fr instead
*/

////////////* UNIVERSAL STYLING *////////////

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

svg {
  display: block;
  margin: 0;
}

////////////* VARIABLES *////////////

// Colors
$black: #1c1c1c;
$light-grey: #ededed;
$dark-grey: #6d6d6d;
$purple: #a305ff;
$purple-transparent: rgba(163, 5, 255, 0.8);
$white-transparent: rgba(255, 255, 255, 0.9);
%shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

// Lengths
$width: 350px; // dropdown content width
$border-radius: 16px; // dropdown content border radius

// Transitions
$bg: background-color 0.2s ease;
$opacity: opacity 0.2s ease;

// Hover interactions
%hover-white {
  background-color: $white-transparent;
  transition: $bg;
  &:hover {
    background-color: white;
  }
}

%hover-lg {
  background-color: transparent;
  transition: $bg;
  &:hover {
    background-color: $light-grey;
  }
}

%hover-purple {
  background-color: $purple-transparent;
  transition: $bg;
  &:hover {
    background-color: $purple;
  }
}

////////////* TEXT STYLING *////////////

.text-heading {
  display: block;
  color: $black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.text-normal {
  font-weight: 400;
}

.text-time {
  font-weight: 400;
  opacity: 0.5;
}

.text-title {
  font-weight: normal;
  font-size: 13px;
  color: $dark-grey;
  margin-top: 3px;
}

.text-eyebrow {
  font-weight: normal;
  font-size: 12px;
  color: $dark-grey;
}

////////////* FLEX CONTAINER STYLING *////////////

%flex {
  display: flex;
  align-items: center;
}

.flex {
  @extend %flex;
  justify-content: space-between;
}

.flex-left {
  @extend %flex;
  justify-content: left;
}

.flex-right {
  @extend %flex;
  justify-content: right;
}

////////////* ELEMENT STYLING *////////////

.cta {
  padding: 12px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: $purple;
  opacity: 0.7;
  transition: $opacity;

  &:hover {
    opacity: 1;
  }
}

.icon-x {
  background-color: transparent;
  border-radius: 50%;
  margin: 0 10px;
  transition: $bg;

  .bi-x {
    display: block;
    font-size: 30px;
  }

  &:hover {
    background-color: #dad8d8;
  }
}

.search-field {
  @extend %flex;
  justify-content: left;
  flex-grow: 2;
  border-radius: 30px;
  background-color: $light-grey;
  transition: $bg;

  &:hover {
    background-color: #d9d9d9;
  }

  input {
    font-size: 16px;
    padding: 15px 0;
    font-weight: normal;
    border: none;
    background-color: transparent;
    width: 100%;

    &:focus {
      background-color: transparent;
      outline: none;
    }
  }

  svg {
    font-size: 18px;
    margin: 0 10px 0 15px;
  }
}

// Thumbnails
%thumbnail {
  height: 50px;
  margin: 0;
}

.thumbnail {
  height: 50px;
  margin: 0;
}

.avatar {
  @extend %thumbnail;
  border-radius: 100%;
  width: 50px;
}

.avatar-headshot {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0 auto;
}

.label {
  color: $black;
  margin-left: 10px;
}

.icon {
  border-radius: 100%;
}

.hover-parent {
  .hover-content {
    visibility: hidden;
  }

  &:hover {
    .hover-content {
      visibility: visible;
    }
  }
}

////////////* DROPDOWN STYLING *////////////

%dropdown-box {
  background-color: white;
  border-radius: $border-radius;
  @extend %shadow;
}

.dropdown-item {
  border-radius: 10px;
  padding: 10px;
  @extend %hover-lg;
}

.dropdown {
  position: relative;
  .dropdown-content {
    // cursor: auto;
    @extend %dropdown-box;
    display: none;
    position: absolute;
    z-index: 1;
  }

  .show {
    display: block;
  }

  /*
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
  */
}

// DROPDOWN CONTENTS

$top: 60px; // top value for big nav dropdowns
$offset-width: 28px;

.dropdown-content-updates {
  top: $top;
  left: -175px + $offset-width;
  width: $width;

  .thumbnail {
    width: 40px;
    border-radius: 7px;
  }

  .flex-suggestions {
    margin-top: 20px;

    .tile {
      position: relative;
      width: calc(50% - 1px);
    }

    .tile-img {
      height: 150px;
    }

    .tile-overlay {
      @extend %flex;
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .overlay-text {
      color: white;
      margin: 0 auto;
    }

    $tile-border: 15px;

    .tile-right {
      .tile-img,
      .tile-overlay {
        border-top-right-radius: $tile-border;
        border-bottom-right-radius: $tile-border;
      }
    }

    .tile-left {
      .tile-img,
      .tile-overlay {
        border-top-left-radius: $tile-border;
        border-bottom-left-radius: $tile-border;
      }
    }
  }
}

.dropdown-content-messages {
  top: $top;
  width: $width;
  left: -200px;

  .text-heading-inbox {
    position: relative;
    .messages-options {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 10px;
    }
  }

  .text-heading-big {
    font-size: 30px;
    margin: 0 10px 20px;
    line-height: 1.2;
  }
  .search-field {
    margin: 0 10px 10px 10px;
  }

  .text-eyebrow-suggested {
    padding: 10px;
    font-weight: normal;
    font-size: 14px;
  }
}

.dropdown-content-options {
  top: $top - 12px;
  width: 225px;
  right: 0;

  .flex-text {
    max-width: 80%;
  }

  :not(:last-child).text {
    margin-bottom: 2px;
  }

  .text-eyebrow {
    padding: 10px;
  }

  .bi-arrow-up-right {
    font-size: 18px;
  }
}

.dropdown-content-icons-fixed {
  right: 65px;

  .content-top {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .content-bottom {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .extra-options {
    color: $dark-grey;
    margin-right: 10px;
    line-height: 2;

    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }

  .line {
    box-shadow: 0px 1px 0px $light-grey;
  }

  .fixed-plus-icon {
    font-size: 20px;
    display: block;
  }

  .option {
    padding: 15px;
    font-size: 14px;
    line-height: 1.3;
  }

  .highlight {
    @extend %hover-lg;
  }
}

.dropdown-content-save-to {
  top: 50px;
  left: -40px;
  right: -40px; // absolutely center to closest parent with position assigned
  padding: 10px;
  width: $width;

  .dropdown-item {
    margin-right: 5px;
  }

  .create-board {
    padding: 20px;
    margin: 0 -10px -10px -10px;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    @extend %hover-lg;
  }

  .thumbnail {
    width: 50px;
    border-radius: 5px;
  }

  .text-eyebrow {
    padding: 0 10px;
    margin-bottom: 5px;
  }

  .bi-plus {
    font-size: 10px;
    background-color: $light-grey;
  }

  .search-field {
    padding: 0 20px;
    margin: 0 10px 20px;
  }
}

.dropdown-content-share {
  top: -250px;
  left: 50px;
  width: $width; // absolutely center to closest parent with position assigned
  padding: 10px;

  .dropdown-item {
    margin-right: 5px;
  }

  .text-eyebrow {
    padding: 0 10px;
    margin-bottom: 5px;
  }

  .bi-plus {
    font-size: 10px;
    background-color: $light-grey;
  }

  .title {
    font-weight: normal;
    font-size: 13px;
    color: $dark-grey;
    margin-top: 3px;
  }

  .search-field {
    margin: 0 10px 10px 10px;
  }

  .share-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
    grid-gap: 15px 0;
  }

  .share-grid-item {
    @extend %flex;
    flex-direction: column;
  }

  .share-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $light-grey;

    .share-icon-wrapper {
      @extend %flex;
      width: 100%;
      height: 100%;
    }

    .bi {
      font-size: 24px;
      margin: 0 auto;
    }
  }

  .share-label {
    font-weight: normal;
    font-size: 13px;
    color: $black;
    margin-top: 3px;
  }
}

.dropdown-content-more {
  left: 40px;
  top: -100px;
  width: 250px;

  .content-top {
    padding: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    box-shadow: 0px 1px 0px $light-grey;
  }

  .content-bottom {
    padding: 10px 0;
  }

  .option {
    font-size: 12px;
    padding: 15px;
    @extend %hover-lg;
  }
}

////////////* NAV STYLING *////////////

nav {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;

  .nav-item {
    margin-right: 5px;
  }

  .nav-search-field {
    min-width: 400px;
  }

  .nav-text {
    color: $black;
    transition: $bg;
    border-radius: 30px;
    padding: 15px 20px;

    &.current {
      color: white;
      background-color: $black;
    }

    /* Applies when you hover on classes that are not the current page */
    &:not(.current):hover {
      background-color: $light-grey;
    }
  }

  .nav-container {
    padding: 20px;
  }

  .icon {
    @extend %hover-lg;
  }

  .nav-item-icon {
    padding: 13px;
    font-size: 20px;
  }

  .chevron-icon {
    padding: 5px;
    font-size: 14px;
  }

  .notifications {
    position: relative;

    .notif-number-padding {
      @extend %flex;
      width: 20px;
      height: 20px;
      font-size: 12px;
      position: absolute;
      text-align: center;
      right: 0;
      top: 0;
      background-color: $purple;
      border-radius: 100%;
    }

    .notif-number {
      text-align: center;
      color: white;
      margin: 0 auto;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .dropdown-content {
    padding: 10px;

    section:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

/* Main styling */

.icons-fixed {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 8px;

  .content-plus {
    top: -40px;
    width: 250px;
  }

  .content-question {
    top: -160px;
    width: 300px;
  }

  .icon {
    @extend %hover-lg;
    padding: 10px;
    margin: 10px;
    background-color: white;
    @extend %shadow;
    font-size: 24px;
  }
}

// DROPDOWN CONTAINERS

.container {
  margin-right: -8px;
  overflow-y: scroll;

  .container-section {
    margin-bottom: 15px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.container-save-to {
  height: 200px;
}

.container-share {
  height: 200px;
}

.container-updates {
  height: 70vh; // need to figure out how to scale according to window

  .icon {
    background-color: white;
    padding: 10px;
    margin: 0 10px;
    transition: $bg;

    .bi-three-dots {
      display: block;
      font-size: 20px;
    }

    &:hover {
      background-color: $black;
      .bi-three-dots {
        color: white;
      }
    }
  }
}

.container-msg {
  height: 53vh;
}

////////////* GALLERY STYLING *////////////

.gallery {
  display: flex;
  justify-content: space-between;
  margin: 100px 70px 20px 70px;
  .column {
    flex-basis: 28%;
    padding: 0 10px;

    .pin {
      margin-bottom: 40px;
    }

    .pin-img {
      border-radius: 20px;
      margin-bottom: 10px;
    }

    .pin-label {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

////////////* PIN OVERLAY STYLING *////////////

.pin-parent {
  position: relative;
  cursor: zoom-in;
  .pin-overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    .pin-overlay-elements {
      display: none;
      z-index: 1;
    }

    .pin-overlay-bg {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: rgba(28, 28, 28, 0.15);
      transition: $opacity;
    }

    .show {
      display: block;
    }
  }

  &:hover {
    .pin-overlay-elements {
      display: block;
    }
    .pin-overlay-bg {
      opacity: 1;
    }
  }

  .flex-top,
  .flex-bottom {
    @extend %flex;
    position: absolute;
    width: 100%;
    padding: 0 15px;
  }

  .flex-top {
    top: 15px;
    font-size: 15px;

    .dropdown-text {
      padding: 12px;
    }

    $save-radius: 15px;
    .save-to {
      flex-basis: 80%;
      border-top-left-radius: $save-radius;
      border-bottom-left-radius: $save-radius;
      @extend %hover-white;
    }

    .save {
      padding: 12px;
      flex-basis: 20%;
      color: white;
      border-top-right-radius: $save-radius;
      border-bottom-right-radius: $save-radius;
      @extend %hover-purple;
    }
  }

  .flex-bottom {
    justify-content: space-between; // not evenly dist for some reason
    bottom: 15px;

    .source {
      @extend %flex;
      justify-content: left;
      border-radius: 20px;
      padding: 8px;
      @extend %hover-white;

      .bi-arrow-up-right {
        margin-right: 5px;
      }

      .source-text {
        font-size: 16px;
      }
    }

    .bottom-icon {
      font-size: 18px;
    }

    .icon {
      padding: 8px;
      @extend %hover-white;
    }
  }

  // figure out z-indexes
  .dropdown-content {
    z-index: 3;
  }
}
