* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: inherit;
}

$black: #1c1c1c;
$light-grey: #ededed;
$purple: #a305ff;

img {
    object-fit: cover;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid $black;

    
    .nav-item {
        margin-right: 5px;
    }

    &:last-child {
        margin-right: 0;
    }

    %wrapper {
        display: flex;
        align-items: center;
        border-radius: 50%;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: $light-grey;
        }
        
    }

    .wrapper {
        @extend %wrapper;
        width: 50px; 
        height: 50px;
    }

    .chevron-wrapper {
        @extend %wrapper;
        width: 30px;
        height: 30px;
    }
   
    svg {
        display: block;
        font-size: 20px;
        margin: 0 auto;
    }
        
    .chevron-down {
        font-size: 14px;
    }

    img {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: 0 auto;
    }
}

.notifications {
    position: relative;
    .notif-number {
        font-size: 13px;
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        color: white;
        background-color: $purple;
        padding: 5px;
        border-radius: 50%;
        
    }
}


input.nav-item {
    flex-grow: 2;
    min-width: 400px;
    font-weight: normal;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 20px;
    border: 1px solid $black;

    &:focus {
        color: inherit;
        outline: none;
    }
}

.nav-text {
    color: $black;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 20px;
    transition: background-color 0.2s ease;

    &.current {
        color: white;
        background-color: $black;
    }

    &:hover {
        background-color: $light-grey;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


