@charset "UTF-8";
/*
- Refactor - done
- Better naming - done
- Check cursors
- Check z-index – done
- Fix notifications - done

Notes:
- Z-index is relative to the parent!
- Change svg width and height to 1em in html, then change font size in css
- Don't use repeat(1fr, 4) for grids b/c Live Sass Compiler isn't updated (errors in css)
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

svg {
  display: block;
  margin: 0;
}

.dropdown .dropdown-content, .icons-fixed .icon {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.pin-parent .flex-top .save-to, .pin-parent .flex-bottom .source, .pin-parent .flex-bottom .icon {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.pin-parent .flex-top .save-to:hover, .pin-parent .flex-bottom .source:hover, .pin-parent .flex-bottom .icon:hover {
  background-color: white;
}

.dropdown-item, .dropdown-content-icons-fixed .highlight, .dropdown-content-save-to .create-board, .dropdown-content-more .option, nav .icon, .icons-fixed .icon {
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover, .dropdown-content-icons-fixed .highlight:hover, .dropdown-content-save-to .create-board:hover, .dropdown-content-more .option:hover, nav .icon:hover, .icons-fixed .icon:hover {
  background-color: #ededed;
}

.pin-parent .flex-top .save {
  background-color: rgba(163, 5, 255, 0.8);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.pin-parent .flex-top .save:hover {
  background-color: #a305ff;
}

.text-heading {
  display: block;
  color: #1c1c1c;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.text-normal {
  font-weight: 400;
}

.text-time {
  font-weight: 400;
  opacity: 0.5;
}

.text-eyebrow {
  font-weight: normal;
  font-size: 12px;
  color: #6d6d6d;
}

.flex, .flex-left, .flex-right, .search-field, .dropdown-content-updates .flex-suggestions .tile-overlay, .dropdown-content-share .share-grid-item, .dropdown-content-share .share-icon .share-icon-wrapper, nav .notifications .notif-number-padding, .pin-parent .flex-top,
.pin-parent .flex-bottom, .pin-parent .flex-bottom .source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.cta {
  padding: 12px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #a305ff;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.cta:hover {
  opacity: 1;
}

.icon-x {
  background-color: transparent;
  border-radius: 50%;
  margin: 0 10px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.icon-x .bi-x {
  display: block;
  font-size: 30px;
}

.icon-x:hover {
  background-color: #dad8d8;
}

.search-field {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border-radius: 30px;
  background-color: #ededed;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.search-field:hover {
  background-color: #d9d9d9;
}

.search-field input {
  font-size: 16px;
  padding: 15px 0;
  font-weight: normal;
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-field input:focus {
  background-color: transparent;
  outline: none;
}

.search-field svg {
  font-size: 18px;
  margin: 0 10px 0 15px;
}

.avatar {
  height: 50px;
  margin: 0;
}

.thumbnail {
  height: 50px;
  margin: 0;
}

.avatar {
  border-radius: 100%;
  width: 50px;
}

.avatar-headshot {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0 auto;
}

.label {
  color: #1c1c1c;
  margin-left: 10px;
}

.icon {
  border-radius: 100%;
}

.hover-parent .hover-content {
  visibility: hidden;
}

.hover-parent:hover .hover-content {
  visibility: visible;
}

.dropdown .dropdown-content {
  background-color: white;
  border-radius: 16px;
}

.dropdown-item {
  border-radius: 10px;
  padding: 10px;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-updates {
  top: 60px;
  left: -147px;
  width: 350px;
}

.dropdown-content-updates .thumbnail {
  width: 40px;
  border-radius: 7px;
}

.dropdown-content-updates .flex-suggestions {
  margin-top: 20px;
}

.dropdown-content-updates .flex-suggestions .tile {
  position: relative;
  width: calc(50% - 1px);
}

.dropdown-content-updates .flex-suggestions .tile-img {
  height: 150px;
}

.dropdown-content-updates .flex-suggestions .tile-overlay {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-content-updates .flex-suggestions .overlay-text {
  color: white;
  margin: 0 auto;
}

.dropdown-content-updates .flex-suggestions .tile-right .tile-img,
.dropdown-content-updates .flex-suggestions .tile-right .tile-overlay {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-content-updates .flex-suggestions .tile-left .tile-img,
.dropdown-content-updates .flex-suggestions .tile-left .tile-overlay {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.dropdown-content-messages {
  top: 60px;
  width: 350px;
  left: -200px;
}

.dropdown-content-messages .text-heading-inbox {
  position: relative;
}

.dropdown-content-messages .text-heading-inbox .messages-options {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 10px;
}

.dropdown-content-messages .text-heading-big {
  font-size: 30px;
  margin: 0 10px 20px;
  line-height: 1.2;
}

.dropdown-content-messages .text-title {
  font-weight: normal;
  font-size: 13px;
  color: #6d6d6d;
  margin-top: 3px;
}

.dropdown-content-messages .search-field {
  margin: 0 10px 10px 10px;
}

.dropdown-content-messages .text-eyebrow-suggested {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
}

.dropdown-content-options {
  top: 48px;
  width: 225px;
  right: 0;
}

.dropdown-content-options .flex-text {
  max-width: 80%;
}

.dropdown-content-options :not(:last-child).text {
  margin-bottom: 2px;
}

.dropdown-content-options .text-eyebrow {
  padding: 10px;
}

.dropdown-content-options .bi-arrow-up-right {
  font-size: 18px;
}

.dropdown-content-icons-fixed {
  right: 65px;
}

.dropdown-content-icons-fixed .content-top {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.dropdown-content-icons-fixed .content-bottom {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.dropdown-content-icons-fixed .flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropdown-content-icons-fixed .extra-options {
  color: #6d6d6d;
  margin-right: 10px;
  line-height: 2;
}

.dropdown-content-icons-fixed .extra-options:hover {
  text-decoration: underline;
  color: #1c1c1c;
}

.dropdown-content-icons-fixed .line {
  -webkit-box-shadow: 0px 1px 0px #ededed;
          box-shadow: 0px 1px 0px #ededed;
}

.dropdown-content-icons-fixed .fixed-plus-icon {
  font-size: 20px;
  display: block;
}

.dropdown-content-icons-fixed .option {
  padding: 15px;
  font-size: 14px;
  line-height: 1.3;
}

.dropdown-content-save-to {
  top: 50px;
  left: -40px;
  right: -40px;
  padding: 10px;
  width: 350px;
}

.dropdown-content-save-to .dropdown-item {
  margin-right: 5px;
}

.dropdown-content-save-to .create-board {
  padding: 20px;
  margin: 0 -10px -10px -10px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.dropdown-content-save-to .thumbnail {
  width: 50px;
  border-radius: 5px;
}

.dropdown-content-save-to .text-eyebrow {
  padding: 0 10px;
  margin-bottom: 5px;
}

.dropdown-content-save-to .bi-plus {
  font-size: 10px;
  background-color: #ededed;
}

.dropdown-content-save-to .search-field {
  padding: 0 20px;
  margin: 0 10px 20px;
}

.dropdown-content-share {
  top: -250px;
  left: 50px;
  width: 350px;
  padding: 10px;
}

.dropdown-content-share .dropdown-item {
  margin-right: 5px;
}

.dropdown-content-share .text-eyebrow {
  padding: 0 10px;
  margin-bottom: 5px;
}

.dropdown-content-share .bi-plus {
  font-size: 10px;
  background-color: #ededed;
}

.dropdown-content-share .title {
  font-weight: normal;
  font-size: 13px;
  color: #6d6d6d;
  margin-top: 3px;
}

.dropdown-content-share .search-field {
  margin: 0 10px 10px 10px;
}

.dropdown-content-share .share-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 10px 10px 10px;
  margin-bottom: 5px;
  grid-gap: 15px 0;
}

.dropdown-content-share .share-grid-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-content-share .share-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ededed;
}

.dropdown-content-share .share-icon .share-icon-wrapper {
  width: 100%;
  height: 100%;
}

.dropdown-content-share .share-icon .bi {
  font-size: 24px;
  margin: 0 auto;
}

.dropdown-content-share .share-label {
  font-weight: normal;
  font-size: 13px;
  color: #1c1c1c;
  margin-top: 3px;
}

.dropdown-content-more {
  left: 40px;
  top: -100px;
  width: 250px;
}

.dropdown-content-more .content-top {
  padding: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  -webkit-box-shadow: 0px 1px 0px #ededed;
          box-shadow: 0px 1px 0px #ededed;
}

.dropdown-content-more .content-bottom {
  padding: 10px 0;
}

.dropdown-content-more .option {
  font-size: 12px;
  padding: 15px;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

nav .nav-item {
  margin-right: 5px;
}

nav .nav-search-field {
  min-width: 400px;
}

nav .nav-text {
  color: #1c1c1c;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  border-radius: 30px;
  padding: 15px 20px;
  /* Applies when you hover on classes that are not the current page */
}

nav .nav-text.current {
  color: white;
  background-color: #1c1c1c;
}

nav .nav-text:not(.current):hover {
  background-color: #ededed;
}

nav .nav-container {
  padding: 20px;
}

nav .nav-item-icon {
  padding: 13px;
  font-size: 20px;
}

nav .chevron-icon {
  padding: 5px;
  font-size: 14px;
}

nav .notifications {
  position: relative;
}

nav .notifications .notif-number-padding {
  width: 20px;
  height: 20px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  background-color: #a305ff;
  border-radius: 100%;
}

nav .notifications .notif-number {
  text-align: center;
  color: white;
  margin: 0 auto;
}

nav:last-child {
  margin-right: 0;
}

nav .dropdown-content {
  padding: 10px;
}

nav .dropdown-content section:not(:last-child) {
  margin-bottom: 15px;
}

/* Main styling */
.icons-fixed {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 8px;
}

.icons-fixed .content-plus {
  top: -40px;
  width: 250px;
}

.icons-fixed .content-question {
  top: -160px;
  width: 300px;
}

.icons-fixed .icon {
  padding: 10px;
  margin: 10px;
  background-color: white;
  font-size: 24px;
}

.container {
  margin-right: -8px;
  overflow-y: scroll;
}

.container .container-section {
  margin-bottom: 15px;
  cursor: pointer;
}

.container .container-section:last-child {
  margin-bottom: 0px;
}

.container-save-to {
  height: 200px;
}

.container-share {
  height: 200px;
}

.container-updates {
  height: 70vh;
}

.container-updates .icon {
  background-color: white;
  padding: 10px;
  margin: 0 10px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.container-updates .icon .bi-three-dots {
  display: block;
  font-size: 20px;
}

.container-updates .icon:hover {
  background-color: #1c1c1c;
}

.container-updates .icon:hover .bi-three-dots {
  color: white;
}

.container-msg {
  height: 53vh;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 70px 20px 70px;
}

.gallery .column {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  padding: 0 10px;
}

.gallery .column .pin {
  margin-bottom: 40px;
}

.gallery .column .pin-img {
  border-radius: 20px;
  margin-bottom: 10px;
}

.gallery .column .pin-label {
  font-weight: bold;
  font-size: 14px;
}

.pin-parent {
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.pin-parent .pin-overlay {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(28, 28, 28, 0.15);
}

.pin-parent:hover .pin-overlay {
  display: block;
}

.pin-parent .flex-top,
.pin-parent .flex-bottom {
  position: absolute;
  width: 100%;
  padding: 0 15px;
}

.pin-parent .flex-top {
  top: 15px;
  font-size: 15px;
}

.pin-parent .flex-top .dropdown-text {
  padding: 12px;
}

.pin-parent .flex-top .save-to {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pin-parent .flex-top .save {
  padding: 12px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pin-parent .flex-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 15px;
}

.pin-parent .flex-bottom .source {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-radius: 20px;
  padding: 8px;
}

.pin-parent .flex-bottom .source .bi-arrow-up-right {
  margin-right: 5px;
}

.pin-parent .flex-bottom .source .source-text {
  font-size: 16px;
}

.pin-parent .flex-bottom .bottom-icon {
  font-size: 18px;
}

.pin-parent .flex-bottom .icon {
  padding: 8px;
}
/*# sourceMappingURL=pinterest.css.map */