* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: inherit;
}

$black: #1c1c1c;
$purple: #a305ff;

img {
    object-fit: cover;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid $black;

    
    .nav-item {
        margin-right: 5px;
    }

    &:last-child {
        margin-right: 0;
    }

    .wrapper {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: lightgray;
        align-items: center;
    }

    .svg-wrapper {
        margin: 0 auto;
    }
    
    svg {

        display: block;
        font-size: 20px;

    }
        
    .chevron-down {
        font-size: 14px;
    }

    img {
        
        width: 35px;
        height: 35px;
        border-radius: 100%;
        margin: 0 auto;
  
    }
}

.notifications {
    position: relative;
    .notif-number {
        font-size: 13px;
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        color: white;
        background-color: $purple;
        padding: 5px;
        border-radius: 50%;
        
    }
}


input.nav-item {
    flex-grow: 2;
    font-weight: normal;

    &:focus {
        color: inherit;
        outline: none;
    }
}

.nav-text {
    color: $black;
    font-size: 16px;
    border: 1px solid $black;
    border-radius: 30px;
    padding: 15px 25px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


