<!DOCTYPE html>
<html>

    <head>
        <link href="./rongstrap_pricing.css" type="text/css" rel="stylesheet">
        <title>Rongstrap World</title>
    </head>

    <body>
        <nav>
            <h1>Rongstrap World</h1>
            <div class="nav-container">
                <div class="nav-pages">
                    <h2>Features</h2>
                    <h2>Enterprise</h2>
                    <h2>Support</h2>
                    <h2>Pricing</h2>
                </div>
                <h2 class="sign-up">Sign up</h2>
            </div>
        </nav>

        <section>

            <h1>Pricing</h1>
            <h3>Quickly build an effective pricing table for your potential customers with this Rongstrap example. 
                It’s built with default Rongstrap components and utilities with little customization.</h3>

            <div class="card-container">
                <div class="card">
                    <div class="card-type">Free</div>
                    <div class="pricing"><span class="pricing-number">$0 </span>/ mo</div>
                    <div class="details">
                        10 users included<br>
                        2 GB of storage<br>
                        Email support<br>
                        Help center access
                    </div>
                    <div class="call-to-action">
                        Sign-up for free
                    </div>
                </div>
                <div class="card">
                    <div class="card-type">Pro</div>
                    <div class="pricing"><span class="pricing-number">$15 </span>/ mo</div>
                    <div class="details">
                        20 users included<br>
                        10 GB of storage<br>
                        Priority email support<br>
                        Help center access
                    </div>
                    <div class="call-to-action">
                        Get started
                    </div>
                </div>
                <div class="card">
                    <div class="card-type">Enterprise</div>
                    <div class="pricing"><span class="pricing-number">$29 </span>/ mo</div>
                    <div class="details">
                        30 users included<br>
                        15 GB of storage<br>
                        Phone and email support<br>
                        Help center access
                    </div>
                    <div class="call-to-action">
                        Contact Us
                    </div>
                </div>
            </div>

        </section>

        <footer>
            <div class="footer-column first">
                <h1>Rongstrap, Inc.</h1>
                <h3>&copy 2020</h3>
            </div>
            <div class="footer-column">
                <h1>Features</h1>
                <h2>Cool stuff<br>
                    Random feature<br>
                    Team feature<br>
                    Stuff for developers<br>
                    Another one<br>
                    Last time
                </h2>
            </div>
            <div class="footer-column">
                <h1>Resources</h1>
                <h2>Resource<br>
                    Resource name<br>
                    Another resource<br>
                    Final resource
                </h2>
            </div>
            <div class="footer-column">
                <h1>About</h1>
                <h2>Team<br>
                    Locations<br>
                    Privacy<br>
                    Terms
                </h2>
            </div>

        </footer>
    </body>

</html>