/* Javascript: On-click interactions */

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;

    &:visited, &:focus, &:active {
        color: inherit;
        text-decoration: inherit;
    }
}

svg {
    display: block;

}

/* NAV STYLING */

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 0 10px;
    box-shadow: inset 0 -1px rgb(187, 187, 187);
    background-color: white;
}

.top-nav {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .top-nav-item {
        padding: 0 15px;
    }
    
    .text {
        font-size: 14px;
        padding: 20px;
        opacity: 0.45;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }

    .three-dots {
        opacity: 0.45;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }

    .search-text {
        font-size: 14px;
        &.resp {
            display: none;
        }  
    }
    .search-text, .wrapper {
        padding: 12px;
    }

    .lockup {
        display: flex;
        align-items: center;

        .logo {
            font-size: 30px;
            margin-right: 10px;
        }

        .rongsplash {
            font-weight: 700;
        }

        .logo-text {
            font-size: 14px;
        }
    }

    .searchbar {
        
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 2;
        max-width: 800px;
        margin: 7px 0;
        background-color:#f2f2f2;
        border: 1px solid transparent;
        border-radius: 30px;
        transition: border 0.2s ease;

        .search {
            font-size: 14px;
            margin: 0 5px;
            
        }

        input {
            border: none;
            background-color: transparent;
            width: 100%;

            &:focus {
                background-color: transparent;
                outline: none;
            }

        }

        &:hover {
            border: 1px solid #bdbdbd;
        }

    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .submit {
        opacity: 0.45;
        border: solid black 1px;
        border-radius: 5px;
        transition: opacity .3s;
        padding: 10px 15px;
        &:hover {
            opacity: 1;
        }
        &.resp {
            display: none;
        }
    }

    .submit-wrapper {
        padding-right: 20px;
        border-right: solid 1px #bdbdbd;
    }

    .join {
        color: white;
        background-color: #10c973;
        opacity: 0.9;
        border-radius: 5px;
        padding: 10px 15px;
        &:hover {
            opacity: 1;
        }
    }

    .menu {
        display: none;
        opacity: 0.45;
        transition: opacity 0.2s ease;

        .menu-icon {
            font-size: 24px;
        }

        &:hover {
            opacity: 1;
        }
    }

    .dropdown {
        position: relative;
        
        .dropdown-content {
            display: none;
            width: 260px;
            z-index: 1;
            background-color: black;
            position: absolute;
            top: 50px;
            border-radius: 3px;

            .tooltip-item {
                margin-bottom: 20px;
                
                &.last {
                    margin-bottom: 0;
                }
            }

            .section {
                padding: 20px;
            }

            .tooltip-text {
                font-size: 14px;
                color: white;
                opacity: 1;
                transition: opacity 0.2s ease;

                &:hover {
                    opacity: 0.5;
                }
            }

            .social-flex {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .social-icon {
                    display: block;
                    font-size: 20px;
                    color: white;
                    opacity: 1;
                    margin-right: 20px;
                    
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            .bottom-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 0.5px solid rgba(255, 255, 255, 0.3);

                .bf-item {
                    font-size: 12px;
                    color: white;
                }

                .bf-text {
                    opacity: 1;
                    transition: opacity 0.2s ease;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            /* making a triangle for the tooltip arrow */
            &:before {
                content:'';
                position: absolute;
                bottom: 100%;
                left: 15px;
                border-width: 6px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }
        }

        &:hover .dropdown-content {
            display: block;
        }
    }
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .text {
        font-size: 14px;
    }

    .flex-container {
        display: flex;

        .dropdown {
            position: relative;

            .dropdown-content {
                width: 160px;
                z-index: 2;
                display: none;
                position: absolute;
                right: 30px;
                top: 50px;
                padding: 13px 0;
                background-color: white;
                border-radius: 3px;
                border: solid 1px rgb(201, 201, 201);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

                .option-text {
                    font-size: 14px;
                    color: black;
                    transition: opacity 0.2s ease;

                    &.color {
                        margin-left: 20px;
                    }
                }

                .option {
                    display: flex;
                    justify-content: flex-start;
                    padding: 10px 15px;
                    align-items: center;
                    background-color: transparent;
                    transition: background-color 0.2s ease;

                    &:not(.current) .option-text{
                        opacity: 0.5;
                        transition: opacity 0.1s ease;
                    }
            
                    &:hover:not(.current):not(.tone) {
                        background-color: rgb(235, 235, 235);
                        
                        .option-text {
                            opacity: 1;
                        }
                    }

                    &.tone {
                        display: block;
                    }
                }
                svg.check {
                    font-size: 20px;
                    margin-right: 2px;
                }

                .icon {
                    margin-left: 20px;
                    margin-right: 10px;
                }

                .color-grid {
                    display: grid;
                    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
                    grid-gap: 3px;
                    margin-left: 15px;
                    margin-top: 15px;

                    .color-item {
                        padding: 3px;
                        border-radius: 100%;
                        background-color: transparent;
                        transition: background-color 0.2s ease;

                        &:hover {
                            background-color: rgb(235, 235, 235);
                        }

                        .color-inner {
                            width: 14px;
                            height: 14px;
                            border-radius: 100%;

                            &.white {
                                background-color: white;
                                border: solid 1px rgb(187, 187, 187);
                            }

                            &.black {
                                background-color: #000000;
                            }

                            &.yellow {
                                background-color: #ffcd03;
                            }

                            &.orange {
                                background-color: #ff9b19;
                            }

                            &.red {
                                background-color: #e83023;
                            }

                            &.green {
                                background-color: #10c973;
                            }

                            &.purple {
                                background-color: #9c23e8;
                            }

                            &.teal {
                                background-color: #1fd5db;
                            }

                            &.magenta {
                                background-color: #d914d9;
                            }

                            &.blue {
                                background-color: #1354d6;
                            }
    
                        }

                    }
                }
            }

            &:hover .dropdown-content {
                display: block;
            }
        }
        
        .item-flex {
            display: flex;
            color: rgba(0, 0, 0, 0.45);
            transition: color 0.2s ease;
            padding: 15px 0;
            margin-right: 30px;

            .relevance {
                color: black;
            }

            &.last {
                margin-right: 0;
            }
    
            &.first {
                color: black;
                /*remember to use box-shadow instead of border, so it overlaps the nav border*/
                /*inset keeps the box-shadow inside*/
                box-shadow: inset 0 -2px black;
            }
    
            .icon {
                font-size: 14px;
                margin-right: 8px;
            }
    
            .caret-down {
                transform: translateY(3px);
                font-size: 12px;
                margin-left: 5px;
            }
    
            &:hover {
                color: black;
            }
        }
    }

    .options-slider {
        display: none;
        opacity: 0.45;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }

        .slider {
            font-size: 20px;
        }
    }
}

/* GENERAL STYLING */

main {
    margin-top: 130px;
    padding: 40px 60px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
}

h2, h3, h4, .profile-name {
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.45;
    font-size: 14px;
    font-weight: normal;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    display: inline-block;
    background-color: #D1D3D4;
    border-radius: 2px;
    padding: 5px 7px;
    margin: 0px 3px 6px 0px;
    transition: opacity .1s;
}

h3:hover {
    opacity: 0.75;
    cursor: pointer;
}

h4, .profile-name {
    font-size: 15px;
    color: white;
    opacity: 0.8;
    margin: 0;
    transition: 0.2s;
}

.profile-name {
    padding-top: 10px; /* this is a shortcut for the hovering in between*/
    padding-bottom: 10px;
    cursor: pointer;
}

.profile-name:hover {
    opacity: 1;
}

/* TAG CONTAINER */

.fade-container {
    position: relative;

    /* Add fade out effect. Put on the outside container so that fade is fixed. */
    &:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        right: 0;
        background-image: linear-gradient(to right, transparent, white);
    }
}

.tag-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.item {
    opacity: 0.45;
    display: inline-block;
    box-sizing: content-box;
    min-width: 110px;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
    padding: 12px;
    margin-right: 12px;
    border: solid black 1px;
    border-radius: 5px;
    transition: opacity .3s;

    &:hover {
        opacity: 1;
    }
}

.empty {
    padding-right: 80px; /* empty div so fade doesn't go over last item */
}

::-webkit-scrollbar { 
    display: none; /* makes scrollbar invisible but retains functionality */
}

/* GALLERY */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: -15px;
    margin-right: -15px;

    svg {
        margin: auto;
        font-size: 20px;
        text-align: center;
    }
}

.column {
    flex: 30%;
    padding: 0 15px;
}

.gallery-item {
    margin-bottom: 40px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* OVERLAY */

.image-container {
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.2);
    opacity: 0;
    transition-duration: 0.3s;

    &:hover {
        opacity: 1; /* Fade-in effect */
        cursor: zoom-in;
    }
}
    

.icon-flex {
    display: flex;
    position: absolute;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;

    &.top {
        justify-content: flex-end;
        top: 20px;
    }

    &.bottom {
        justify-content: space-between;
        bottom: 20px;
    }
}


.profile-flex {
    display: flex;
    align-items: center;
}

.headshot {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 10px;
}

button {
    opacity: .8;
    height: 35px;
    width: 45px;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition-duration: 0.2s;
    margin-left: 10px;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

.heart svg {
    font-size: 15px;
    transform: translateY(1px);
}

/* TOOLTIP */

.headshot-tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip {
    opacity: 0; /* you need opacity for the transition */
    visibility: hidden; /* display will not cause the transition for some reason */
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 45px;
    background-color: white;
    width: 350px;
    border-radius: 5px;
    transition: 0.3s;
    border: solid 1px rgb(201, 201, 201);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    /* making a triangle for the tooltip arrow */
    &:after {
        content:'';
        position: absolute;
        top: 100%;
        left: 15px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    .profile {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }

    .gallery {
        display: flex;
        justify-content: space-between;
        margin: 0 0 15px 0;
    }

    .follow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 120px;
        padding-left: 120px;
        background-color: rgb(3, 133, 255);
        opacity: 1;
        border-radius: 4px;
        margin: 0;
        transition-duration: 0.2s;

        &:hover {
            background-color: rgb(0, 106, 255);
        }

        h4 {
            color: white;
            opacity: 1;
        }

        svg {
            fill: white;
            font-size: 14px;
        }
    }
}

/* tooltip positioning adjustment */
.tooltip-1 {
    left: -7px;
}

.tooltip-2 {
    left: 55px;
}

.profile-flex .profile-name:hover .tooltip {
    opacity: 1; /* you need opacity for the transition */
    visibility: visible; /* display will not cause the transition for some reason */
    transform: translate(0, -5px);
}

.profile-flex .headshot-tooltip:hover .tooltip {
    opacity: 1; /* you need opacity for the transition */
    visibility: visible; /* display will not cause the transition for some reason */
    transform: translate(0, -5px);
}


.tooltip-headshot {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0;
}

.tooltip-name {
    margin-left: 15px;
    align-content: center;

    .username {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 18px;
        color: black;
        margin: 0;
        padding: 0;
        opacity: 1;
    }

    .instaname {
        font-family: Helvetica;
        color: black;
        opacity: .5;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
}

.tooltip-photo {
    width: 98px;
    height: 75px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
}

/* MEDIA QUERIES */

/* Responsive Design – 2 columns */
@media screen and (max-width: 992px) {
    .column {
        flex: 45%;
    }

    /*nav*/
    .top-nav {

        .search-text {
            display: none;
            &.resp {
                display: block;
            }
        }

        .submit {
            display: none;
            &.resp {
                display: block;
            }
        }
    }

    .bottom-nav {

        .flex-container:last-child {
            display: none;
        }

        .options-slider {
            display: block;
        }
    }
}

/* Responsive Design – 1 column */
@media screen and (max-width: 880px) {
    .column {
        flex: 100%;
    }

    .tag-container {
        display: none;
    }

    /*nav*/

    .top-nav {
        .flex-container {
            display: none;
        }

        .menu {
            display: block;
        }
    }

    .bottom-nav .item-flex {
        .icon, .num{
            display: none;
        }
    }
}

/* Responsive Design – nav */
@media screen and (max-width: 1200px) {
    .top-nav .lockup .text-stack {
        display: none;
    }
}