/* Centering a div that is absolutely positioned*/
.parent {
    background-color: blue;
    width: 600px;
    height: 200px;
    position: relative;
}


.child {
    width: 300px; 
    margin: 0 auto;
    background-color: red;
    position: absolute; /*when you position something absolutely, margin 0 auto will work only when you've set all the top, right, left, and bottom parameters)*/
    top: 40px;
    right: 0; 
    left: 0;
    bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.full {
    grid-column: 1 / 3;
    background-color: red;
}

.half {
    background-color: green;
}

@media screen and (max-width: 700px) {
    .grid {
        
    }
}
